
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/splide.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/slimselect.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/smooth-scrollbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/plyr.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/photoswipe.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/photoswipe-ui-default.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
